@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,700;1,400;1,500;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Rubik, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --pri-color: rgb(102, 116, 204);
  --pri-bg-clr: rgb(247, 248, 252);
  --white-clr:#fff;
}

/* Start Navbar Section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 14px 23px;
    margin: auto;
    font-family: "Rubik", sans-serif;
  }
  
  .nav-manu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  ul li a {
    font-family: "Rubik", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .sec-nav {
    border-bottom: 1px solid rgb(234, 234, 235);
    background-color: rgb(247, 248, 252);
    box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
  }
  
  .nav-btn button {
    border-radius: 4px;
    padding: 10px 23px;
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--pri-color);
  }
  .nav-btn button:hover {
    background-color: #fff;
    color: var(--pri-color);
    border: 1px solid var(--pri-color);
  }
  /* /////////////////////////////////////// */
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
  
  @media (max-width: 878px) {
    .hamburger {
      display: block;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-manu {
      padding-top: 60px;
      position: fixed;
      left: -100%;
      top: 60px;
      gap: 0;
      flex-direction: column;
      background-color: transparent;
      backdrop-filter: 20px;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      background-color: rgb(247, 248, 252, 0.6);
      backdrop-filter: blur(10px);
      border-bottom: 2px solid rgba(116, 113, 113, 0.2);
      padding-bottom: 100px;
    }
    .nav-item {
      margin: 16px 0;
    }
    .nav-manu.active {
      left: 0;
    }
  
    .nav-btn button {
      margin: 20px;
    }
    .sl1-con {
      justify-content: center;
      flex-direction: column-reverse;
    }
    
    .main-empty-space {
      display: none;
    }
  
    .big-footer-container {
      flex-direction: column;
      text-align: center;
  }
  .main-sub-footer  p{
      text-align: center;
  }
  }
  /* -------- End Navbar Section ------------ */
  